[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "==3.0"
djangorestframework = "*"
celery = "==5.0.5"
redis = "==3.5.3"

[dev-packages]

[requires]
python_version = "3.6"
