<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>
<body>
    <nav>
    <div class="container">
        <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {%  for item in menu_items %}
                {% if item.slug  %}
                <li><a href="/{{item.slug}}/">{{item.title}}</a></li>
                {% else %}
                <li><a href="/">{{item.title}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    </nav>
    {% block content %}
        <h1>Hello World</h1>
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>